---
layout: page
---

{{ content }}

{% assign usenetfuns = paginator.usenetfuns | default: site.usenetfuns %}

{% if usenetfuns.size == 0 %}
  <p>No posts found.</p>
{% else %}
  <h1 class="page-heading">Usenetfuns gevonden</h1>
  aantal gevonden: {{ usenetfuns.size}}
{% endif %}

<!-- role="list" needed so that `list-style: none` in Safari doesn't remove the list semantics -->
<ul class="posts-list list-unstyled" role="list">
  {% for usenetfun in usenetfuns %}
  <li class="post-preview">
    <article>

 
      <a href="{{ usenetfun.url | absolute_url }}">
        <h2 class="post-title">{{ usenetfun.title | strip_html }}</h2>
      </a>

     </article>
  </li>
  {% endfor %}
</ul>

<p>()</p>

{% if paginator.total_pages > 1 %}
<ul class="pagination main-pager">
  {% if paginator.previous_page %}
  <li class="page-item previous">
    <a class="page-link" href="{{ paginator.previous_page_path | absolute_url }}">
      <i class="fas fa-arrow-left" alt="Newer Posts"></i>
      <span class="d-none d-sm-inline-block">Newer Posts</span>
    </a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="page-item next">
    <a class="page-link" href="{{ paginator.next_page_path | absolute_url }}">
      <span class="d-none d-sm-inline-block">Older Posts</span>
      <i class="fas fa-arrow-right" alt="Older Posts"></i>
    </a>
  </li>
  {% endif %}
</ul>
{% endif %}
