---
layout: page
---

{{ content }}

{% assign usenetfuns = paginator.usenetfuns | default: site.usenetfuns %}

{% if usenetfuns.size == 0 %}
  <p>No posts found.</p>
{% endif %}

{% assign columns = 3 %}
{% assign countpercolumn = usenetfuns.size | divided_by: columns %}
<h2>{{ countpercolumn }} {{ usenetfuns.size }} div {{ columns }} </h2>
{% assign remainder = usenetfuns.size | modulo: columns %}

{% for i in (1..columns) %}
  {% if remainder != 0 %}
    {% assign actualcountpercolumn = actualcountpercolumn | append: countpercolumn | plus: 1 | append: ',' %}
  {% else %}
    {% assign actualcountpercolumn = actualcountpercolumn | append: countpercolumn | append: ',' %}
  {% endif %}

{% endfor %}
{% assign actualcountpercolumn = actualcountpercolumn | split: ',' %}

{% assign columns = 2 %}
{% for i in (0..columns ) %}
  <p>Actual Count Per Column {{ i }}: {{ actualcountpercolumn[i] }}</p>
{% endfor %}

{% assign start = 0 | minus : actualcountpercolumn[0] %}
{% assign end = 0 %}

{% if usenetfuns.size > 0 %}
  <div class="row">
    {% for i in (0..columns) %}
      <div class="col-md-4">
        {% assign start = start | plus: actualcountpercolumn[i] %}
        {% assign end = start | plus: actualcountpercolumn[i] | minus: 1 %}
        {% assign column_usenetfuns = usenetfuns | slice: start, end %}
        <p>Start: {{ start }}</p>
        <p>End: {{ end }}</p>
        
        {% for usenetfun in column_usenetfuns %}
          <a href="{{ usenetfun.url | absolute_url }}">{{ usenetfun.title }}</a>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endif %}